body{
     font-family: "Montserrat", sans-serif;
}

.reviews_h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(128, 129, 189, 1);
    margin-left: 250px;
    margin-bottom: 66px;
}
.reviews_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    margin-left: 250px;
    margin-right: 250px;
}

.card{
    background-color: rgba(255, 246, 209, 1);
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 36px;
    padding-bottom: 39px;
    transition: 0.3s;
    width: 688px;
    height: 320px;
}
.card:hover{
    background-color: rgba(242, 242, 255, 1);
}

.card_source{
    width: 315px;
    border-radius:  50px;
    border: none;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.card_source:hover{
    color: white;
    background-color: rgba(234, 93, 74, 1);
}

.card_name{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}
.card_text{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
    width: 618.0575561523438;
}
.card_read{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
    transition: 0.3s;
}
.card_read:hover{
    color: rgba(234, 93, 74, 1);
}

.card_nation{
    font-weight: 500;
    font-size: 14px;
    position:absolute;
    top: 180px;
    left:365px;
    letter-spacing: 0%;
    color: rgba(51, 65, 85, 1);
}
.card_bottom{
    display: flex;
    gap: 209px;
}
.card_top {
   display: flex;
   align-items: center;
   gap: 10px;
  
}

.top_row {
  display: flex;
   align-items: center;
   gap: 10px;
   flex-direction: column;
  
 
}
.card img {
    width: 61px;
    height: 60px;
}